/*-----------------------------------------------------------------------------------*/
/*                    Chat Related style                                        */
/*-----------------------------------------------------------------------------------*/
.chatContainerClass{
	background: #f5f5f5;
    border: 2px solid #ccc;
    height: 50%;
    padding: 5px;
    margin: 10px;
}

.chatInputClass{
    float: left;
    width: 80%;
}

.whoTypingClass{
    padding-bottom: 10px;
    color: gray;
}
/*.chatBox{
    background-color: rgba(85, 209, 245, 0.39);
    height: 30%;

}
#chatBox{
    padding: 10px 56px 10px 10px;
}
*/

/*.chatBoard{
    width: 100%;
    border: 0px;
}
*/

.userchatmsg {
    font-size: 16px;
    color: #000;
    font-weight: lighter;
    font-style: oblique;
    text-rendering: optimizeSpeed;
    white-space: pre-line;
    word-wrap: break-word;
    color:white;
}

.chatMessagesClass{
    overflow-y: scroll;
    width: 76%;
}

.mainInputBox{
    width:100%;
    height:10%;
}

.localMessageclass{
/*  background-color:#9999FF;
    color: #968787;*/
    color: #9999FF;
    float: left;
}
.remoteMessageClass{
/*  background-color:#666699;
    color: #968787;*/
    color: #666699;
    float:right;
    text-align: right;
    padding-right: 80px;
}

.chatusername {
    font-size: 13px;
    color: #9D0C0C;
    font-weight: 600;
    font-stretch: expanded;
    font-style: italic;
}
/*-----------------------------------------------------------------------------------*/