/*-----------------------------------------------------------------------------------*/
/*              Draw and paint Related style                                        */
/*-----------------------------------------------------------------------------------*/
.drawContainerClass{
    border: 5px solid #777;
}

.texteditorContainerClass{
    border: 5px solid #777;
}

.locationContainerClass{
    border: 5px solid #777;
}

.drawBox{
    height: 30%;
}

.drawBoard{
    margin-top: 0px;
}

.colors-container label {
    width: 100px;
    display: inline-block;
}

.colors-container input {
    width: 100px;
    text-align: left;
}

.colors-container .input-div {
    margin-bottom: 5px;
}
.line-width-text, .colors-container input {
    width: 25px;
    padding: 2px 5px;
    text-align: center;
}

.done
{
    border: 1px solid #E5E5E5;    
    display: inline-block;    
    padding: 4px 10px;
    border-radius: 3px;
}
.done:hover
{
    box-shadow: inset 0 0 12px white;
}

.done:active
{
  box-shadow: inset 0 0 52px white;
}

.arc-range-container
{
    position: absolute;
    z-index: 1000;
    display: none;
}
.arc-range
{
    font-size: 18px;
    padding: 2px 16px;
    text-align: center;
    width: 40px;
}
.arc-range-container-guide
{
    margin-top: 10px;
    color:#C5C5C5;
}
/*-----------------------------------------------------------------------------------*/