/*-----------------------------------------------------------------------------------*/
/*              Video and media Related style                                        */
/*-----------------------------------------------------------------------------------*/
.videoBox{
    /*left: 10%;*/
}

.snapshotButton{
    color: black; 
    float: right;    
    padding-right: 40px; 
    line-height: 1.4; 
    font-size:35px
}

.videoContainer{
    margin: 0 20px 0 20px;
    padding: 10px;
    border: 0;
    background: transparent;
}

video {
    top: 0;
    left: 0;
    transition: width .5s ease;
    margin: 0;
    background-color: #000;
    height: 100% ;
    width:100%;
}

#localVideo {
    -webkit-transition-duration: 2s;
    -webkit-transition-property: opacity;
    opacity: 0;
    width: 100%;
}
#remoteVideo {
    -webkit-transition-duration: 2s;
    -webkit-transition-property: opacity;
    opacity: 0;
    width: 100%;
}

.leftVideoClass , .rightVideoClass{
    background: transparent;
    border: transparent;
    width: 48%;
}

.videoControlBarClass{
    float:left;
    margin-left: 20px;
}

.video-inner-wrapper{
	position: relative;
}
.video-inner-wrapper div .video-inner-wrapper video{
	position: absolute;
    top: 0;
}


/*video::-webkit-media-controls {
  display: none;
}
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}*/

.video-block::-webkit-media-controls {
  display: none;
}
.video-block::-webkit-media-controls-play-button {}

.video-block::-webkit-media-controls-volume-slider {}

.video-block::-webkit-media-controls-mute-button {}

.video-block::-webkit-media-controls-timeline {}

.video-block::-webkit-media-controls-current-time-display {}
/*-------------------------------------------------------------*/